#gallery__template{
    padding-top: 51px;
    margin: auto;
}
@media (max-width: 580px) {
    .gallery {
        padding-top: 36px;
    }
}
.gallery__container {
    padding-top: 51px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: 361px;
    grid-auto-rows: 361px;
    gap: 17px;
    justify-content: center;
}
@media (max-width: 580px) {
    .gallery__container {
        gap: 20px;
    }
}

.gallery__box{
    display: flex;
    flex-direction: column;
    position: relative;
}

.delete_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    width: 15.44px;
    height: 13.3px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    cursor: pointer;
}

.delete_box:hover {
    opacity: 0.6;
}
.gallery__pic {
    width: minmax(282px, 1fr);
    height: 282px;
    border-radius: 10px 10px 0 0 ;
}
.gallery__description {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    height: calc(100% - 282px);
    border-radius: 0 0 10px 10px;    
   
}
.gallery__title {
    display: inline;
    margin-left: 21px;
    font-style: normal;
    font-weight: 900;
    font-family: 'Inter-Bold';
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;


   
}
.add__like {
    border: none;
    background: none;
    cursor: pointer;
}
.box_like {
    display: flex;
    margin-right: 15px;
    width: 22px;
    height: 19px;
    padding-left: 10px;
}
.box_like:hover {
    opacity: 0.6;
}

.box_like_active {
    background-image: url('../../images/like_active.svg');
    background-repeat: no-repeat;
    background-position: right;
}




